<h1>User Profile</h1>
<h3><strong>Name: </strong> <%= @user.name %></h3>
<p><strong>Username: </strong> <%= @user.username %></p>
<p><strong>E-Mail: </strong> <%= @user.email %></p>
<p><strong>Created: </strong> <%= @user.created_at %></p>
<p><strong>Updated: </strong> <%= @user.updated_at %></p>
